{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "indent": [
      2,
      2
    ],
    "new-cap": 0,
    "comma-dangle": 0,
    "func-names": 0,
    "no-bitwise": 0,
    "no-var": 1,
    "object-shorthand": 0,
    "space-before-function-paren": [1, "always"],
    "no-param-reassign": 0,
    "max-len": 0,
    "import/no-unresolved": 0,
    "import/no-webpack-loader-syntax": 0,
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-use-before-define": 0,
    "no-plusplus": 0,
    "class-methods-use-this": 0
  },
  "parser": "babel-eslint"
}
